table.form-table button {
    background-color: #0073aa;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

table.form-table button:hover {
    background-color: #006080;
}

#sortable {
    border: 3px dashed #ccc; /* this is to give the div a dotted border */
    min-height: 100px;
}

.sortable-image {
    width: 100%;
    height: auto;
}

.image-container {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.image-container img {
    width: 100%; /* this is to make sure the image takes up the full container */
}

.image-container .remove-image {
    position: absolute; /* this is to position the icon on top of the image */
    top: 0;
    right: 0;
    font-size: 15px; /* adjust as needed */
    color: #fff; /* adjust as needed */
    background-color: rgba(0,0,0,0.5); /* adjust as needed */
    padding: 5px; /* adjust as needed */
    display: none; /* this is to hide the icon by default */
}

.image-container:hover .remove-image {
    display: block; /* this is to show the icon on hover */
}

.no-image-added {
    text-align: center;
    font-size: 18px;
    color: #999;
    padding: 20px;
}
